{% extends "inicioapp/layout.html" %}

{% load static %}

{% block body %}

<div class="container-fluid ">
    <div class="row m-3" style="float:right">
        {% include "carro/widghet.html" %}
    </div>
    <div class="row mb-5">

        {% for producto in productos %}
        <div class="col-lg-3 col-md-6 mb-4" data-aos="fade-up">

            <div class="card shadow-sm m-3" style="width: 10rem; height: 300px;">

                <figure class="block-4-image m-1">
                    <a href=""><img src="{{producto.imagen.url}}" class="img-fluid"></a>
                </figure>


                <div class="" style="text-align: center;">
                    <h6>{{producto.nombre_prod}}</h6>
                    <p class="card-text">${{producto.precio}}</p>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'carro:add' producto.id %}" class="btn btn-success">Agregar al Carro</a>
                </div>

            </div>
        </div>
        {% endfor%}
    </div>
</div>
</div>












{% endblock %}