
header {
    background-image: url('/static/inicioapp/img/jaguarete1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.title{
    height: 200px;
    
}
nav{
    height: 70px;
}

h3:hover{
    background: slategrey;
    color: darkslategray;
    
}
 footer{
     background: slategray;
     color: azure;
 }