<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jaguarete KAA.</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'inicioapp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'inicioapp/css/stylo.css'%}">

</head>

<body>

    <div class="container-fluid">
        <header>
            <h1>Jaguarete KAA S.A.</h1>




            <nav class="navbar  navbar-expand-lg navbar-light bg-light m-0 border-dark shadow-lg ">
                <div class=" d-flex ">
                    <a class="navbar-brand" href="{% url 'index'%}">
                        <h1 class=" text-dark p-2">Jaguarete </h1>
                    </a>

                </div>

                <div class=" navbar " id="navbarSupportedContent">
                    <form class="b-inline">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    <ul class="navbar-nav  mb-2 mb-lg-0">




                        <li class="nav-item">
                            <a class="nav-link" href="#">Quienes Somos</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'tienda' %}">Tienda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contacto' %}">Contactanos</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'USUARIOS:registrarse' %}">Registrarse</a>
                        </li>
                        <li>
                            {% if user.is_authenticated %}
                            
                            <p class="nav-link"><a class="nav-link" href="{% url 'logout'%}?next={{request.path}}">Desconectarse</a>Usuario: {{ user.username }}</p>

                            {% else %}
                            
                            <a class="nav-link" href="{% url 'login'%}">Acceder</a></p>
                            {% endif %}
                        </li>

                    </ul>
                </div>
            </nav>
    </div>







    </header>
    {% block body%}

    {% endblock %}


    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <p class="m-0">
                <a href="#" class="link">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="#" class="link">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="#" class="link">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </p>
            <p class="m-0 mbt">
                <a href="sample.html" class="link">Política de privacidad</a> ·
                <a href="sample.html" class="link">Aviso legal</a> ·
                <a href="sample.html" class="link">Cookies</a>
            </p>
            <p class="m-0 mbt1">&copy; Jaguarete KAA S.A</p>
        </div>
    </footer>

    <script src="{% static 'inicioapp/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'inicioapp/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'inicioapp/js/popper.min.js' %}"></script>
    <script src="{% static 'inicioapp/js/bootstrap.min.js' %}"></script>

</body>

</html>